<section class="footer">
    <div class="foot">
        <div class="section_foot">
            <div class="copy font">
                <p>© DigDog</p>
                <p>Skets.Co</p>
            </div>
            <div class="sec_1">
                <p class="font headers">Section</p>
                <p class="font data">Home</p>
                <p class="font data">Features</p>
                <p class="font data">Pricing</p>
                <p class="font data">FAQs</p>
                <p class="font data">About</p>
            </div>
            <div class="sec_2">
                <p class="font headers">Section</p>
                <p class="font data">Home</p>
                <p class="font data">Features</p>
                <p class="font data">Pricing</p>
                <p class="font data">FAQs</p>
                <p class="font data">About</p>
            </div>
            <div class="sec_3">
                <p class="font headers">Section</p>
                <p class="font data">Home</p>
                <p class="font data">Features</p>
                <p class="font data">Pricing</p>
                <p class="font data">FAQs</p>
                <p class="font data">About</p>
            </div>
        </div>
    </div>
</section>